{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Permit</h1>
        </div>

        <!-- Main Content Here -->

        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3 my-5">
              <a href="{{ permit.pdf.url }}">
            <img src="{{ permit.pdf.url }}" class="rounded float-lg-left" height="370px" width="300px" onerror="this.onerror=null;this.src='/media/image/pdf.png'" >
          </div>
          <div class="card o-hidden border-0 shadow-lg my-5 col-lg-5">
            <div class="card-body">
                <h1><strong>{{ permit.permit_cn }} {{ permit.agency }}</strong></h1>
                <p><strong> </strong>{{ permit.agency.address1 }} {{ permit.agency.address2 }} </p>
                <p><strong> </strong>{{ permit.agency.city }} {{ permit.agency.state }} , {{ permit.agency.zip_code }}</p>
                <p><strong> </strong>{{ permit.agency.phone_number}} </p>
                <p><strong> </strong>{{ permit.company }}  </p>

                 <a class="btn btn-md btn-outline-primary shadow-sm" href="{% url 'permit' %}"><i class="fa fa-backward fa-lg"></i>&nbsp;  Back</a>&nbsp;
                 <a class="btn btn-md btn-outline-info shadow-sm" href="{% url 'permit-update' permit.pk %}"><i class="fa fa-pencil fa-lg"></i>&nbsp;  Edit</a>&nbsp;
                 <a class="btn btn-md btn-outline-danger shadow-sm" href="#"><i class="fa fa-trash-o fa-lg"></i>&nbsp;Delete</a>


            </div>
          </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock content %}