{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Insurance</h1>
        </div>

        <!-- Main Content Here -->

        <div class="row">
          <div class="col-lg-2"></div>
          <div class="card o-hidden border-0 shadow-lg my-5 col-lg-5">
            <div class="card-body">
                <h1><strong>{{ insurance.get_type_display }} / {{ insurance.company }}</strong></h1>
                <p><strong> </strong>{{ insurance.start_date }} {{ insurance.end_date }} </p>
                <p><strong> </strong>{{ insurance.note}} </p>
             <a class="btn btn-md btn-outline-primary shadow-sm" href="{% url 'insurance' %}"><i class="fa fa-backward fa-lg"></i>&nbsp;  Back</a>&nbsp;
             <a class="btn btn-md btn-outline-info shadow-sm" href="{% url 'insurance-update' insurance.pk %}"><i class="fa fa-pencil fa-lg"></i>&nbsp;  Edit</a>&nbsp;
             <a class="btn btn-md btn-outline-danger shadow-sm" href="#"><i class="fa fa-trash-o fa-lg"></i>&nbsp;Delete</a>

            </div>
          </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock content %}