{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}


{% block content %}
    <!-- Begin Page Content -->
<style>
a:link {
  text-decoration: none;
}
</style>


    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Contacts</h1>
        </div>

        <!-- Main Content Here -->

        <div class="row">
         {% for contact in contact %}
             <a href="{% url 'contact-detail' contact.pk %}" class="">
            <div class="col-xl-3 col-md-3 mb-4">
               <div class="card border-left-primary shadow h-100 py-2">
                 <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-4">
                        <div><h3><strong>{{contact.first_name}} {{ contact.last_name }}</strong> </h3>{{ contact.com }}</div>
                        <p><strong>Phone : </strong>{{ contact.phone_number}} </p>
                    </div></a>
                  </div>
                </div>
              </div>
            </div>
         {% endfor %}
        </div>



    </div>


    <!-- /.container-fluid -->
{% endblock content %}