{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <!-- Begin Page Content -->
<style>
a:link {
  text-decoration: none;
}
</style>
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Company</h1>
        </div>

        <!-- Main Content Here -->

            <h1>{{ company.name }}</h1>

                 <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Type</th>
                            <th>Phone</th>
                            <th>Owner</th>
                            <th>Email</th>
                            <th>Image</th>
                            <th>Notes</th>

                        </tr>
                    </thead>
                    <tbody>
              {% for comp in company %}
                            <td><a href="{% url 'summary' comp.pk%}">
                                <strong>{{ comp.name }}</strong></a></td>
                            <td>{{ comp.get_company_type_display }} </td>
                            <td>{{ comp.phone_number }} </td>
                            <td>{{ comp.owner }} </td>
                            <td>{{ comp.email }} </td>

                            <td> <a href="{{ comp.profile_image.url }}">
                            <img src="{{ comp.profile_image.url }}"
                                 onerror="this.onerror=null;this.src='/media/image/pdf.png'"
                                 style="width:55px;height:55px;"></td>
                  <td><details>
                    <summary>Notes</summary>
                    <p>{{ comp.notes }} </p>
                  </details></td>


                  </tbody>

              {% endfor %}
                 </table>

    </div>
{% endblock content %}