{% extends 'base.html' %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <!-- Main Content Here -->
          <div class="row">

            <!-- Company Card Example -->
            <div class="col-xl-3 col-md-3 mb-4">
                <a class="nav-link" href="{% url 'company-add' %}">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Customers</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ comcnt }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-building fa-4x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div></a>
            </div>

            <!-- Vendor Card Example -->
            <div class="col-xl-3 col-md-3 mb-4">
                <a class="nav-link" href="{% url 'company-add' %}">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Vendors</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ subcnt }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-briefcase fa-4x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div></a>
            </div>

            <!-- Contact Card Example -->
            <div class="col-xl-3 col-md-3 mb-4">
                <a class="nav-link" href="{% url 'contact-add' %}">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Contacts</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ concnt }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-address-book fa-4x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div></a>
            </div>

            <!-- Employee Card Example -->
            <div class="col-xl-3 col-md-3 mb-4">
                <a class="nav-link" href="{% url 'employee-add' %}">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Employee</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ empcnt }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-address-card fa-4x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div></a>
            </div>


            <!-- Agency Card Example -->
            <div class="col-xl-3 col-md-3 mb-4">
                <a class="nav-link" href="{% url 'agency-add' %}">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Agency</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ agecnt }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-university fa-4x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div></a>
            </div>

            <!-- Vehicles Card Example -->
            <div class="col-xl-3 col-md-3 mb-4">
                <a class="nav-link" href="{% url 'vehicle-add' %}">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Vehicles</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vehcnt }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-truck fa-4x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div></a>
            </div>

     <!-- Insurance Card Example -->
            <div class="col-xl-3 col-md-3 mb-4">
                <a class="nav-link" href="{% url 'insurance-add' %}">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-warning text-uppercase mb-1">Insurance</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ inscnt }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-gavel fa-rotate-270 fa-4x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div></a>
            </div>

     <!-- Permit Card Example -->
            <div class="col-xl-3 col-md-3 mb-4">
                <a class="nav-link" href="{% url 'permit-add' %}">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-warning text-uppercase mb-1">Permit</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ percnt }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-tags fa fa-4x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div></a>
            </div>

            <!-- Document Card Example -->
            <div class="col-xl-3 col-md-3 mb-4">
                <a class="nav-link" href="{% url 'document-add' %}">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Document</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ doccnt }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-file-pdf fa-4x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div></a>
            </div>

            <!-- Image Card Example -->
            <div class="col-xl-3 col-md-3 mb-4">
                <a class="nav-link" href="{% url 'image-add' %}">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Image</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ imgcnt }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-picture-o fa-4x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div></a>
            </div>

            <!-- Summary Card Example -->
            <div class="col-xl-3 col-md-3 mb-4">
                <a class="nav-link" href="{% url 'company' %}">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Summary</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-building fa-4x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div></a>
            </div>


    </div>
    <!-- /.container-fluid -->
{% endblock content %}
