{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <!-- Begin Page Content -->
<style>
a:link {
  text-decoration: none;
}
</style>
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Documents</h1>
        </div>

        <!-- Main Content Here -->

            <h1>{{ doc.company }}</h1>

                 <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Type</th>
                            <th>End</th>
                            <th>Thumbnail</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
              {% for doc in document %}
                            <td>{{ doc.company }}</td>
                            <td><a href="{% url 'document-update' doc.pk %}"><strong>{{ doc.get_type_display }}</strong></a></td>
                            <td>{{ doc.end_date }}</td>
                            <td> <a href="{{ doc.pdf.url }}">
                                <img src="{{ doc.pdf.url }}" onerror="this.onerror=null;this.src='/media/image/pdf.png'" style="width:55px;height:55px;"></td>
                            <td>{{ doc.note }} </td>
                  </tbody>

              {% endfor %}
                 </table>


    </div>
    <!-- /.container-fluid -->
{% endblock content %}