{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <!-- Begin Page Content -->
<style>
a:link {
  text-decoration: none;
}
</style>

<link rel="stylesheet" href="{% static 'css/summary.css' %}">

    <div>

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
{#        <h1 class="h3 mb-0 text-gray-800">{% for comp in comqs %} <strong>{{ comp.name }}</strong></a></td> {% endfor %}</h1>#}
        </div>

        <!-- Main Content Here -->

{#            <h1>{{ comqs.name }}</h1>#}
{#            <h1>{{ conqs.count}}</h1>#}




<div class="container-fluid">
    <div class="grid-container">
        <div class="item1">{% for comp in comqs %} <img src="{{ comp.profile_image.url }}"
                                                  onerror="this.onerror=null;this.src='/media/image/pdf.png'"
                                 style="width:200px;height:150px;"></div>
        <div class="item2">{% for veh in vehqs %}
                         <h3>{{ veh.equip_number }} - {{ veh.equip_name }} - {{ veh.note }}</h3>
                     {% endfor %}
                        {% for con in conqs %}
                            <h3>{{ con.first_name }} {{ con.last_name }} - {{ con.phone_number }}</h3>
                        {% endfor %}</div>
        <div class="item3"><h1>{{ comp.owner }} - {{ comp.phone_number }}</h1>
                            <h1>{{ comp.email }} </h1>
                            <details>
                                <summary>Notes</summary>
                                <p>{{ comp.notes }} </p>
                            </details></div>
  <div class="item4">{% for doc in docqs %}
      <h3>{{ doc.type }} Expires - {{ doc.end_date }} <details><summary>Notes</summary>{{ doc.note }}</details></h3>
                     {% endfor %}</div>
    {% endfor %}

{#        <div class="item5">test item 5</div>#}
    </div>
</div>
{% endblock content %}