{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <!-- Begin Page Content -->
<style>
a:link {
  text-decoration: none;
}
p {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

</style>


<link rel="stylesheet" href="{% static 'css/summary.css' %}">

    <div>

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
{#        <h1 class="h3 mb-0 text-gray-800">{% for comp in comqs %} <strong>{{ comp.name }}</strong></a></td> {% endfor %}</h1>#}
        </div>

        <!-- Main Content Here -->

{#            <h1>{{ comqs.name }}</h1>#}
{#            <h1>{{ conqs.count}}</h1>#}




<div class="container-fluid">
    <div class="grid-container">
        <div class="item1">{% for comp in comqs %} <img src="{{ comp.profile_image.url }}"
                                                  onerror="this.onerror=null;this.src='/media/image/pdf.png'"
                                 style="width:200px;height:150px;"></div>
        <div class="item2">{% for veh in vehqs %}
                         <h6>{{ veh.equip_number }} - {{ veh.equip_name }} - {{ veh.note }}</h6>
                        {% endfor %}
                        {% for con in conqs %}
                            <h6>{{ con.first_name }} {{ con.last_name }} - {{ con.phone_number }}</h6>
                        {% endfor %}</div>
        <div class="item3"><h6>{{ comp.owner }} - {{ comp.phone_number }}</h6>
                            <h6>{{ comp.address1 }} {{ comp.address2 }} {{ comp.city }} {{ comp.state }}, {{ comp.zip_code }}</h6>
                            <h6>{{ comp.email }} </h6>
                            <h6><details>
{#                                <h6><summary>Notes</summary></h6>#}
                                <p>{{ comp.notes }}</p>
                            </details></h6></div>
        <div class="item4">{% for doc in docqs %}
                            <h6>{{ doc.type }} Expires - {{ doc.end_date }}
                            <details>
                                <p>{{ doc.note }}</p>
                            </details></h6>
                            {% endfor %}</div>

    </div>
            <br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <a class="btn btn-md btn-outline-primary shadow-sm" href="{% url 'company' %}"><i class="fa fa-backward fa-lg"></i>&nbsp;  Back</a>&nbsp;
                 <a class="btn btn-md btn-outline-info shadow-sm" href="{% url 'company-update' comp.pk %}"><i class="fa fa-pencil fa-lg"></i>&nbsp;  Edit</a>&nbsp;
                 <a class="btn btn-md btn-outline-danger shadow-sm" href="#"><i class="fa fa-trash-o fa-lg"></i>&nbsp;Delete</a>&nbsp;
                 <a class="btn btn-md btn-outline-info shadow-sm" href="{% url 'company-pdf' comp.pk %}"><i class="fa fa-file-pdf-o fa-lg"></i>&nbsp; PDF </a>&nbsp;
                 <a class="btn btn-md btn-outline-info shadow-sm" href="{% url 'company-csv' comp.pk %}"><i class="fa fa-file-download fa"></i>  CSV </a>
        {% endfor %}
{#            </div>#}

{#        <div class="item5">test item 5</div>#}

</div>
{% endblock content %}