{% extends "base.html" %}
{% load class_name %}
{% block content %}
<html lang="en" >
<head>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#myModal").on('shown.bs.modal', function(){
        $(this).find('input[type="text"]').focus();
    });
});
</script>
</head>
<body>
<div class="bs-example">

<div class='row title-row my-5'>
    <div class='col-12 py-0'>
        <h3 class='my-0 py-0'>{{ count }} results for <b>{{ query }}</b></h3>
    </div>
</div>

{% for object in object_list %}
    {% with object|class_name as klass %}

      {% if klass == 'Agency' %}
           <div class='container-fluid'>
            <ul class="list-group">
               <li class="shadow-sm p-2 mb-2 bg-white">
                   {{ object|class_name }}---<a href='{{ object.get_absolute_url }}'>{{ object.agency_name }} {{ object.agency_type }}</a>
               </li>
            </ul>
           </div>

      {% elif klass == 'Contact' %}
          <div class="container-fluid">
            <ul class="list-group">
                <li class="shadow-sm p-2 mb-2 bg-white">
                   {{ object|class_name }}---<a href='{{ object.get_absolute_url }}'>{{ object.first_name }} / {{ object.com }}</a>
                </li>
            </ul>
           </div>
      {% elif klass == 'Image' %}
          <div class="container-fluid">
            <ul class="list-group">
              <li class="shadow-sm p-2 mb-2 bg-white">
                   {{ object|class_name }}---<a href='{{ object.get_absolute_url }}'>{{ object.name }} / {{ object.notes }} / {{ object.equip_number }}</a>
              </li>
            </ul>
          </div>
      {% elif klass == 'Employee' %}
          <div class="container-fluid">
            <ul class="list-group">
                <li class="shadow-sm p-2 mb-2 bg-white">
                   {{ object|class_name }}---<a href='{{ object.get_absolute_url }}'>{{ object.first_name }} {{ object.last_name }} / {{ object.company }}</a>
                </li>
            </ul>
          </div>
      {% elif klass == 'Company' %}
          <div class="container-fluid">
            <ul class="list-group">
                <li class="shadow-sm p-2 mb-2 bg-white">
                   {{ object|class_name }}---<a href='{{ object.get_absolute_url }}'>{{ object.name }}</a>
                </li>
            </ul>
          </div>
      {% elif klass == 'Vehicle' %}
          <div class="container-fluid">
            <ul class="list-group">
                <li class="shadow-sm p-2 mb-2 bg-white">
                   {{ object|class_name }}---<a href='{{ object.get_absolute_url }}'>{{ object.equip_number }} / {{ object.equip_name }} / {{ object.equip_driver }}</a>
                </li>
            </ul>
          </div>
      {% elif klass == 'Permit' %}
          <div class="container-fluid">
            <ul class="list-group">
                <li class="shadow-sm p-2 mb-2 bg-white">
                   {{ object|class_name }}---<a href='{{ object.get_absolute_url }}'>{{ object.permit_cn }} / {{ object.agency }}</a>
          </div>
      {% elif klass == 'Insurance' %}
          <div class="container-fluid">
            <ul class="list-group">
                <li class="shadow-sm p-2 mb-2 bg-white">
                   {{ object|class_name }}---<a href='{{ object.get_absolute_url }}'>{{ object.company }}</a>
                </li>
            </ul>
          </div>
      {% elif klass == 'Document' %}
          <div class="container-fluid">
            <ul class="list-group">
                <li class="shadow-sm p-2 mb-2 bg-white">
                   {{ object|class_name }}---<a href='{{ object.get_absolute_url }}'>{{ object.company }}</a>
                </li>
            </ul>
          </div>
      {% else %}
           <div class='row'>
             <div class='col-12 col-lg-8 offset-lg-4'>
                <a href='{{ object.get_absolute_url }}'>{{ object }} | {{ object|class_name }}</a>
            </div>
           </div>
      {% endif %}

    {% endwith %}
{% empty %}
{% endfor %}
{% include 'pagination.html' %}
{% endblock content %}